main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main > h1 {
    font-size: 3rem;
}
.blog-block{
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
    width: 80vw;
    gap: 2rem;
}

.block-content > h2{
    font-size: 3rem;
    font-weight: 700;
}

.block-content > p{
    font-size: 1.5rem;
    font-weight: 400;
}

@media (min-width: 768px){
    .blog-block{
        flex-direction: row;
    }
}