@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    height: 120px;
}

header div{
    color: #000000;
    font-size: 48px;
    font-weight: 700;
    margin-top: 27px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
header a{
    color: #000000;
}

header div span {
    color: #7ED321;
}

header nav{
    display: flex; 
    justify-content: center;
    gap: 35px;
}

header nav a{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.nav-link{
    font-weight: 700;
    margin-top: 54px;
    color: #000000;
    width: 112px;
    height: 22px;
}

#link-blog{
    width: 45px;
}
#btn-inscrever {
    border: none;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(126, 211, 33, 0.4);
    color: #1C4701;
    padding: 9px 32px;
    width: 80px;
    border-radius: 15px;
    height: 20px;
    margin-top: 40px;
    cursor: pointer;
}
/* Título presente na maioria das páginas */
.titulo-pag{
    font-size: 48px;
    font-weight: bold;
    color: #000000;
    display: flex;
    justify-content: center;
}