header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    padding: 1.5rem;
}
header > h1{
    color: #000000;
    font-size: 4rem;
    font-weight: 700;
}

header a{
    color: #000000;
}

header > h1 span {
    color: #7ED321;
}

header nav{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}
.nav-link{
    font-size: 1.6rem;
    font-weight: 700;
    color: #000000;
    padding: .8rem;
    border-radius: 1rem;
}
.nav-link:hover{
    background-color: black;
    color: white;
}
#btn-inscrever {
    border: none;
    font-weight: 700;
    background-color: rgba(126, 211, 33, 0.4);
    color: #1C4701;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    cursor: pointer;
}
/* Título presente na maioria das páginas */
.titulo-pag{
    font-size: 4rem;
    font-weight: 700;
    color: #000000;
    display: flex;
    align-self: center;
}
@media (max-width: 768px){
    header{
        flex-direction: column; 
        justify-content: center;
    }
    header > nav{
        width: 100%;
    }
}