html{
    font-size: 62.5%;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 4rem;
}

main div{
    padding: 8rem 0rem;
    width: 30vw;
    height: 45vh;
}

#btn-inscrever-se{
    border: none;
    background-color: #7ED321;
    border-radius: 1.5rem;
    color: #1C4701;
    padding: 1.2rem 4rem;
    font-weight: 700;
    cursor: pointer;
}

main img{
    width: 45vw;
    height: 30vw;
}